<!-- product-grid-buywith.liquid -->
<div class="product-card js-product-card product-grid-buywith text-left" data-price="{{ product.price }}" style="height:100%;" >
    <div class="product-card__image-wr overflow-hidden">
      {%- assign image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
      {%- assign has_mockup = false -%}
      {%- assign mockup_type = product.metafields.custom.mockup_type -%}
      {%- if settings.enable_mockup_compositing and settings.mockup_base_url != blank and mockup_type != blank -%}
        {%- assign has_mockup = true -%}
      {%- endif -%}

      {%- if has_mockup -%}
        <a class="product-card__image js image-content__image-wrapper mockup-composite-container {{ settings.size_image_grid }}" href="{{ product.url | within: collection }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;" data-image-id="{{ image.id }}">
          <canvas class="mockup-canvas lazyload scale-in first-image"
                  data-mockup-type="{{ mockup_type }}"
                  data-product-image="{{ image | image_url: width: 800 }}"
                  data-sizes="auto"
                  data-aspectratio="{{ image.aspect_ratio }}"
                  width="{{ image.width }}"
                  height="{{ image.height }}">
          </canvas>
          <noscript>
            <img src="{{ image | image_url: width: 720 }}"
                 alt="{{ image.alt | escape }}"
                 width="{{ image.width }}"
                 height="{{ image.height }}">
          </noscript>
          {%- if firstimage -%}
            {% render 'second-image' , product: product %}
          {%- endif -%}
        </a>
      {%- else -%}
        <a class="product-card__image js image-content__image-wrapper {{ settings.size_image_grid }}" href="{{ product.url | within: collection }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;" data-image-id="{{ image.id }}">
          {%- assign img_url = image | image_url: width: 1 | replace: 'width=1', 'width={width}' -%}
          <img class="lazyload transition first-image"
                data-src="{{ img_url }}"
                src="{{ image | image_url: width: 1, height: 1 }}"
                data-sizes="auto"
                data-widths="[180, 360, 540, 720]"
                alt="{{ image.alt | escape }}"
                loading="lazy"
                width="{{ image.width }}"
                height="{{ image.height }}">
          {%- if firstimage -%}
            {% render 'second-image' , product: product %}
          {%- endif -%}
        </a>
      {%- endif -%}
    </div>
    <div class="product-card__info  pt-3 {% unless product.available %} disabled{% endunless %}">
      <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="product-card__name d-block {% if settings.t_product %} text-uppercase {% endif %}">{{ product.title }}</a>
      {%- liquid
        assign card_variant = product.selected_or_first_available_variant
        assign card_price = card_variant.price | default: product.price
        assign card_compare_at = card_variant.compare_at_price | default: product.compare_at_price
        assign variant_label = ''
        if card_variant
          assign variant_label = card_variant.title | strip
          assign variant_label_downcase = variant_label | downcase
          if variant_label == 'Default Title' or variant_label_downcase == 'default title'
            assign variant_label = ''
            assign variant_label_downcase = ''
          endif
          assign options_joined = card_variant.options | join: ' / ' | strip
          assign options_joined_downcase = options_joined | downcase
          if variant_label == '' and options_joined != blank and options_joined_downcase != 'default title'
            assign variant_label = options_joined
          endif
        endif
      -%}
      <div class="product-card__price {% if card_compare_at > card_price %}product-card__pricesale {% endif %} d-flex justify-content-between align-items-center w-100">
          <span class="product-card__price-amount">
            {%- if card_compare_at > card_price -%}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              {{ card_price | money }}
              <s class="product-card__regular-price">{{ card_compare_at | money }}</s>
              <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
            {%- else -%}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              {{ card_price | money }}
            {%- endif -%}
          </span>
          {%- if variant_label != blank -%}
            <span class="product-card__variant-value ml-3 text-right">{{ variant_label }}</span>
          {%- endif -%}
      </div>
      {% unless enablqv %}
      <span class="position-relative link js-grid-cart small {% unless product.available %} disabled {% endunless %}" title="{% if product.available %} {{ 'products.product.add_to_cart' | t }} {% else %} {{ 'products.product.sold_out' | t }} {% endif %}" data-id="{{ product.selected_or_first_available_variant.id }}">
        <div class="product-card__loading spinner-{{ settings.loading }}" role="status"></div>
        {% if product.available %}
          <span>+ {{ 'products.product.add_to_cart' | t }}</span>
        {% else %}
        <span>{{ 'products.product.sold_out' | t }}</span>
        {% endif %}
      </span>
    {% endunless %}
      {% if enablqv %}
        <span  class="link js-btn-quickview small mt-1 d-block" data-toggle="modal" 
          data-target="#jsQuickview" data-handle="{{ product.handle }}"
          data-pavailable="{% if product.available %}true{% else %}false{% endif %}"
        {% if settings.enable_review %} data-viewjdmg="{{ product.metafields.judgeme.badge }}" {% endif %} "
          >
          <span class="d-block">
            {{ 'products.product.quickview_text' | t }}
            {% if product.metafields.info.shortdesc != blank %}
              <span class=" txt-short hide" >
                {{ product.metafields.info.shortdesc | strip_html | truncatewords: 12 }}
              </span>
            {%- endif -%}
          </span>
        </span>
      {% endif %}
    </div>
  </div>
